.mainPage {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.mainPage main.layout{
    display: grid;
    grid-template-columns: 280px 1fr;
    gap:2rem;
    padding: 2rem;
    background-image: url(../images/Untitled_design.png);
    background-size: cover; 
    background-position: center; 
    color: white;
}

.mainPage aside.sidebar{
    position: sticky;
    top:7rem;
    align-self: start;
}

@media(max-width:900px){
    .mainPage main.layout {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .mainPage aside.sidebar {
        position: relative; /* обычный поток */
        top: auto;
        margin:auto; /* отступ от основного контента */
    }
    
}


